


<p style="text-align:left">WEBFY</p>
<p style="text-align:left;font-size:15pt;">HOW TO-----></p>


 <link type="text/css" rel="stylesheet" href="mio.css">

<script type="text/javascript" src="vendors/Materialize/dist/js/materialize.min.js"></script>
<div>
  <ul class="collapsible popout" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><i class="material-icons">info_outline</i>How to install:
      </div>
      <div class="collapsible-body"><p>First clone and install dependency</p>
     <p class=FirsCln>git clone git@github.com:AD2014/webify<br>
                      cd webify                             <br>
                      npm install
     </p>
                                                            <br>
     <p class="riga">the <span  class="cmd"  > npm install </span>will run <span class="cmd">bower install</span> and <span class="cmd">gulp build</span> to generate all the html for the app in the build directory.
     </p>


      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>How to test:</div>
      <div class="collapsible-body"><br><p class="scndCln" class="flow-text">npm <span style="color:blue">test</span></p><br></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>How to develope:</div>
      <div class="collapsible-body"><br><p class="scndCln">gulp watch</p><br></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>How to change env:</div>
      <div class="collapsible-body"><br><p class="scndCln">export NODE_E<br>npm install<br><br>
        ## OR<br>
        export NODE_ENV=staging<br>
        npm install<br><br>

        ## OR<br>
        export NODE_ENV=devel<br>
        npm install<br>

      </p><br></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>how to clean and rebuild all:</div>
      <div class="collapsible-body"><br><p class="scndCln">npm run-script clean<br>
npm install</p><br></div>
    </li>
  </ul>


</div>
<hr align=”left” size=”1″ width=”300″ color=”blue” noshade>
